@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <link href="/css/HituxBlue/inner.css" rel="stylesheet" type="text/css" />

    @RenderSection("head", false)
}

@section focus{
    <div id="InnerBanner">

    </div>
}



<!--inner start -->
<div class="inner">
    <!--left start-->
    <div class="left">

        <div class="Sbox">

            @RenderSection("left_top", true)


        </div>

        <div class="HeightTab clearfix"></div>

        <div class="Sbox">

            @RenderSection("left_center", true)


        </div>

        <div class="HeightTab clearfix"></div>

        <div class="Sbox">
            <div class="topic">搜索&nbsp;&nbsp;&nbsp;Search</div>
            <div class="SearchBar">
                <form method="get" action="/Search/index.asp">
                    <input type="text" name="q" id="search-text" size="15" onblur="if(this.value=='') this.value='请输入关键词';"
                           onfocus="if(this.value=='请输入关键词') this.value='';" value="请输入关键词" /><input type="submit" id="search-submit" value="搜索" />
                </form>
            </div>
        </div>

    </div>
    <!--left end-->
    <!--right start-->
    <div class="right">

        <div class="Position">

            @Html.Action("Position", "Home")

            @*<span>你的位置：<a href="/">首页</a> > <a href='/News/'>新闻动态</a></span>*@
        </div>

        <div class="HeightTab clearfix"></div>
        <!--main start-->
        <div class="main">

            @RenderBody()

        </div>
        <!--main end-->
    </div>
    <!--right end-->
</div>
<!--inner end-->
